Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
stamp-h1
missing
autom4te.cache

